node_modules
.bowerrc
  .editorconfig
  .travis.yml
  .gitignore
  .babelrc
  ./images
  webpack.config.js
  bin
  gulpfile.js
  .prettierignore
  config.js
  node_modules
  content
  package.json
  svgpack
  tmp
  src
  config.toml
  yarn.lock
  renovate.json
  !/exampleSite/config.toml
  !/exampleSite/content
  !/exampleSite/static
