body {
  margin: 0;
  padding: 0;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  place-items: center;
  max-width: 960px;
  margin: 24px auto;
}

.button {
  width: 80%;
  padding: 16px;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
}
.button:hover {
  cursor: pointer;
}

.slide-in {
  position: relative;
  border: 1px solid #333;
  overflow: hidden;
  transition: 0.2s;
}
.slide-in::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 400px;
  height: 400px;
  border-radius: 9999px;
  background-color: #333;
  z-index: -1;
  transform: translate3d(-50%, -50%, 0) scale(0);
  opacity: 0;
}
.slide-in:hover {
  color: #fff;
  transition: 1s;
}
.slide-in:hover::before {
  opacity: 1;
  transform: translate3d(-50%, -50%, 0) scale(3);
  transition: transform 1.5s;
}

body {
  color: #ddd;
}
body h1 {
  font-size: 80px;
}

.test {
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.grid {
  display: grid;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.loading {
  display: flex;
  justify-content: space-between;
  width: 80px;
  height: 80px;
}

.bar {
  width: 12%;
  height: 100%;
  background-color: #000;
  transform-origin: center;
}

@-webkit-keyframes barAnimation1 {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.2);
  }
}

@keyframes barAnimation1 {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.2);
  }
}
@-webkit-keyframes barAnimation2 {
  0% {
    transform: scaleY(0.6);
  }
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.6);
  }
  75% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(0.6);
  }
}
@keyframes barAnimation2 {
  0% {
    transform: scaleY(0.6);
  }
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.6);
  }
  75% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(0.6);
  }
}
@-webkit-keyframes barAnimation3 {
  0% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes barAnimation3 {
  0% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(1);
  }
}
.bar1,
.bar5 {
  -webkit-animation: 0.5s linear infinite alternate barAnimation3;
  animation: 0.5s linear infinite alternate barAnimation3;
}

.bar2,
.bar4 {
  -webkit-animation: 1s linear infinite barAnimation2;
  animation: 1s linear infinite barAnimation2;
}

.bar3 {
  -webkit-animation: 0.5s linear infinite alternate barAnimation1;
  animation: 0.5s linear infinite alternate barAnimation1;
}

.line-loading {
  position: relative;
  width: 100%;
}

.line {
  position: absolute;
  top: 0;
  left: -100%;
  width: 30%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #000);
  -webkit-animation: animate1 1.5s linear infinite;
  animation: animate1 1.5s linear infinite;
}

@-webkit-keyframes animate1 {
  0% {
    left: -100%;
  }
  40% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  40% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}