body {
  margin: 0;
  padding: 0;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  place-items: center;
  max-width: 960px;
  margin: 24px auto;
}

.button {
  width: 80%;
  padding: 16px;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  font-size: 16px;
}
.button:hover {
  cursor: pointer;
}

.slide-in {
  position: relative;
  border: 1px solid #333;
  overflow: hidden;
  transition: 0.2s;
}
.slide-in::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  z-index: -1;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: top right;
}
.slide-in:hover {
  color: #fff;
}
.slide-in:hover::before {
  transform: scaleX(1);
  transform-origin: top left;
}

.text-transition {
  position: relative;
  color: transparent;
  background: linear-gradient(90deg, #f04b00 50%, #000 50%);
  background-position-x: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 250% 100%;
  transition: 1s;
  transition: background-position-x 0.8s, color 0.8s;
}
.text-transition:hover {
  background-position-x: 0;
}
.text-transition::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(90deg, #f04b00, black) 1;
  border-image: linear-gradient(90deg, #f04b00, black) 1;
  border-image-width: 3px;
}

#waveCanvas {
  width: 100%;
}

.svg-wrap {
  margin: 120px 0 0;
}

.tonton3 {
  width: 100%;
}

svg {
  width: 100%;
  overflow: visible;
}

.wave {
  -webkit-animation: wave 3s cubic-bezier(0.55, 0.5, 0.45, 0.5);
  animation: wave 3s cubic-bezier(0.55, 0.5, 0.45, 0.5);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  fill: #fff;
}

#wave2 {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  animation-direction: reverse;
  opacity: 0.7;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

@-webkit-keyframes wave {
  100% {
    transform: translateX(-100%);
  }
}

@keyframes wave {
  100% {
    transform: translateX(-100%);
  }
}
.wrap {
  position: relative;
}

.svg-title {
  position: absolute;
  font-size: 64px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  mix-blend-mode: difference;
  z-index: 100;
  width: 100%;
  padding-bottom: 120px;
}

body h1 {
  font-size: 80px;
}

.test {
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.grid {
  display: grid;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.loading {
  display: flex;
  justify-content: space-between;
  width: 80px;
  height: 80px;
}

.bar {
  width: 12%;
  height: 100%;
  background-color: #000;
  transform-origin: center;
}

@-webkit-keyframes barAnimation1 {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.2);
  }
}

@keyframes barAnimation1 {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.2);
  }
}
@-webkit-keyframes barAnimation2 {
  0% {
    transform: scaleY(0.6);
  }
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.6);
  }
  75% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(0.6);
  }
}
@keyframes barAnimation2 {
  0% {
    transform: scaleY(0.6);
  }
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.6);
  }
  75% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(0.6);
  }
}
@-webkit-keyframes barAnimation3 {
  0% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes barAnimation3 {
  0% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(1);
  }
}
.bar1,
.bar5 {
  -webkit-animation: 0.5s linear infinite alternate barAnimation3;
  animation: 0.5s linear infinite alternate barAnimation3;
}

.bar2,
.bar4 {
  -webkit-animation: 1s linear infinite barAnimation2;
  animation: 1s linear infinite barAnimation2;
}

.bar3 {
  -webkit-animation: 0.5s linear infinite alternate barAnimation1;
  animation: 0.5s linear infinite alternate barAnimation1;
}

.line-loading {
  position: relative;
  width: 100%;
}

.line {
  position: absolute;
  top: 0;
  left: -100%;
  width: 30%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #000);
  -webkit-animation: animate1 1.5s linear infinite;
  animation: animate1 1.5s linear infinite;
}

@-webkit-keyframes animate1 {
  0% {
    left: -100%;
  }
  40% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  40% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}