body {
  font-family: "Courier New", Courier, monospace;
}

body {
  color: #ddd;
}
body h1 {
  font-size: 80px;
}

.test {
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.grid {
  display: grid;
}