.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  place-items: center;
  max-width: 960px;
  margin: 24px auto;
}

.button {
  width: 80%;
  padding: 16px;
  background-color: transparent;
  border: none;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }
}

// slide in
.slide-in {
  position: relative;
  border: 1px solid #333;
  overflow: hidden;
  transition: 0.2s;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    width: 400px;
    height: 400px;
    border-radius: 9999px;
    background-color: #333;
    z-index: -1;
    transform: translate3d(-50%, -50%, 0) scale(0);
    opacity: 0;
  }

  &:hover {
    color: #fff;
    transition: 1s;

    &::before {
      opacity: 1;
      transform: translate3d(-50%, -50%, 0) scale(3);
      transition: transform 1.5s;
    }
  }
}
