@use './base.scss';
@use './buttons.scss';
@use './svg.scss';

body {
  h1 {
    font-size: 80px;
  }
}

.test {
  display: flex;
  user-select: none;
}

.grid {
  display: grid;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.loading {
  display: flex;
  justify-content: space-between;
  width: 80px;
  height: 80px;
}

.bar {
  width: 12%;
  height: 100%;
  background-color: #000;
  transform-origin: center;
}

@keyframes barAnimation1 {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.2);
  }
}

@keyframes barAnimation2 {
  0% {
    transform: scaleY(0.6);
  }
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.6);
  }
  75% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(0.6);
  }
}

@keyframes barAnimation3 {
  0% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(1);
  }
}

.bar1,
.bar5 {
  animation: 0.5s linear infinite alternate barAnimation3;
}

.bar2,
.bar4 {
  animation: 1s linear infinite barAnimation2;
}

.bar3 {
  animation: 0.5s linear infinite alternate barAnimation1;
}

.line-loading {
  position: relative;
  width: 100%;
}

.line {
  position: absolute;
  top: 0;
  left: -100%;
  width: 30%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #000);
  animation: animate1 1.5s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  40% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.box {
  display: block;
  background-color: #000;
  width: 100px;
  height: 100px;
}

.title {
  position: relative;
  text-align: center;
}

.word {
  display: inline-block;
  opacity: 0;
  transform: translate3d(0, 50px, 0);
}

.scroll-section {
  height: 700px;
}

.slide-box {
  width: 100px;
  height: 100px;
  background-color: #000;
}
